@charset "utf-8";
tr.hover {
	background: #cccccc;
}

tr.gameRowRed {
	text-shadow: 0 0 1px #ff0000; 
}

tr.gameRowGreen {
	text-shadow: 0 0 1px #00ff00; 
}

tr.gameRowDead {
	text-shadow: 0 0 1px #666666; 
}

div.input.select {
	display: inline-block;
}